<nav class="navbar navbar-default navbar-fixed-top" ng-controller="FbToolbarPanelController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{'HEADER.BRAND' | translate}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">新建 (<u>N</u>)</a></li>
        <li><a href="#">保存 (<u>S</u>)</a></li>
        <li><a href="#">模板 (<u>T</u>)</a></li>
        <li><a href="#">导入 (<u>I</u>)</a></li>
        <li><a href="#">导出 (<u>E</u>)</a></li>
        <li><a href="#">预览 (<u>P</u>)</a></li>
        <li><a href="#">开发者模式 (<u>D</u>)</a></li>
        <li><a href="#">帮助 (<u>H</u>)</a></li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于 <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="#">版本</a></li>
              <li><a href="#">联系我们</a></li>
          </ul>
        </li>
          <li><a href="#">退出 (<u>Q</u>)</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>